.header {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.header h2 {
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.header-end {
  margin-right: 40px;
}

.cart-link {
  color: white;
  cursor: pointer;
}
